html {
    font-size: 16px;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.anchor {
    color: #888;
    text-decoration: none;
    /*line-height: 3rem;*/
    /*font-size: 1.5rem;*/
    visibility: hidden;
}

.exhibit-details:hover .anchor {
    visibility: visible;
    color: #444;
}

.exhibit {
    max-width: 100%;
    padding: 2rem 0 4rem 0;
    font-family: Georgia, serif;
}

.exhibit img {
    max-width: calc(100% - 2rem);
}

.exhibit-title {
    font-variant: small-caps;
    font-weight: bold;
}

